# gradle

.gradle/
.fabric/
build/
out/
classes/
**/.fabric/
**/.gradle/
/.fabric/
/.gradle/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# Temp and build files
temp_src/
temp_we/
tmp/
output/
saouw/
.architectury-transformer/
*.class
sources.jar
print_methods.*
